* { box-sizing: border-box;}
* { margin: 0; padding: 0; }

header {
  text-align: center;
  font-family: "Trebuchet MS,", Helvetica, sans-serif;
  width: 100%;
  color: teal;
  text-shadow: 2px 5px 10px ;
  padding: 1rem 2rem;
  border: 0 1rem;
  border-style: groove;
  background-color: aliceblue;
  margin: .1rem;
}

.hover{
  color: orangered;
}

body {
  margin: 2rem;
  font-family: "Jua";
  color: chartreuse;
  padding: 0.5rem 3rem;  
  border-color: dimgrey;
  border-style: inset;
  background-color:dimgray;
}

body p{
  text-align: justify;
  padding: 1rem;
}

body nav {
  position: relative;
  left:9%;
  text-align: center;
  color: teal;
  background-color: antiquewhite;
  opacity: .4;
  width: 75%;
  margin:3rem 2rem
}

body nav:hover {
  background: rgb(255, 0, 255);
  border-radius: 80%;
  color: rgb(0, 255, 255);
  transition: background 2s;
  transition: border-radius 2s;
  transition-timing-function: ease;
}

img{
  display:block;
  margin-left: auto;
  margin-right:auto;
  padding:  1rem;
}

iframe{
  display:block;
  margin-left: auto;
  margin-right:auto;
  padding:  1rem;
}

footer {
  position: relative;
  height: rem;
  bottom: 0px;
  text-align:center; 
  font-family: "Walter Turncoat", regular;
  padding: .5rem rem;
  color: lightcoral;
  border: inset 0.1rem yellow;
  background-color: darkslategray;
  width: 100%;
}

footer:hover {
/*  background-color: aqua*/
  transform: rotateZ(180deg); 
}