* { box-sizing: border-box;}
* { margin: 0; padding: 0; }

header {
  text-align: center;
  font-family: "Trebuchet MS,", Helvetica, sans-serif;
  width: 100%;
  color: teal;
  text-shadow: 2px 5px 10px ;
  padding: 1rem 2rem;
  border: 0 1rem;
  border-style: groove;
  background-color: aliceblue;
  margin: .1rem;
  
}

header:hover {
  background-color: rgb(0, 0, 255);
  border-spacing: 80%;
  color: rgb(0, 255, 255);
  transition: background-color 2s;
  transition-timing-function: ease;
}

.hover{
  color: orangered;
}

body {
  position: inherit;
  margin: 2rem;
  color: chartreuse;
  padding: 0.5rem 2rem;  
  border-color: dimgrey;
  border-style: inset;
  background-color:dimgray;
}

/*
body p{
  text-align: justify;
  position: relative;
  padding: 3rem;
}
*/

body nav {
  text-align: center;
  position: relative;
  font-family: "Dosis", ;
  top: 4 rem;
  left: 10%;
  color: chartreuse;
  background-color: antiquewhite;
  opacity: .4;
  width: 80%;
  padding: 10px;
  margin: 30px 10px;
}

body li{
  padding: 5px;
}

footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  font-family: "Lucida Console", Manaco, monospace;
  letter-spacing: 4px;
  padding: .5rem;
  color: lightcoral;
  border: dashed 0.1rem yellow;
  background-color: darkslategray;
  height:rem;
  width: 100%;
  margin: 10px;
}